SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

BASE_URL=<your_base_url for example http://127.0.0.1>
BACKEND_PORT=8081
FRONTEND_PORT=5173
SPOTIFY_REDIRECT_URI=${BASE_URL}:${BACKEND_PORT}/api/auth/callback
SPOTIFY_FRONTEND_REDIRECT_URI=${BASE_URL}:${FRONTEND_PORT}/callback
SPOTIFY_SCOPES=playlist-read-private playlist-modify-public playlist-modify-private user-read-email user-read-private
CORS_CONFIG_ORIGINS=${BASE_URL}:${FRONTEND_PORT}